# Ignore arquivos de build
cmake-build-debug/
build/

# Ignore arquivos binários
*.exe
*.o
*.obj
*.so
*.dll
*.dylib

# Ignore arquivos de log
*.log

# Ignore arquivos de configuração do IDE
.idea/
.vscode/
*.iml

# Ignore arquivos temporários do sistema
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

# Ignore arquivos de cache
*.cache
*.ccls-cache/

# Ignore arquivos de backup
*.bak
*.old
*.orig